@model IEnumerable<odetofood.Models.Restaurant>
@{ 
    ViewBag.Title = "Home Page";
}
<h1>Welcome to the home page!</h1>
<table>
    @foreach (var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>

            </td>
        </tr>
    }
</table>
<a asp-action="Create">Create Restaurant</a>

@section footer{ 
    "Hello"
}